.bluePlus{
  background-color: rgb(89, 204, 219);
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px rgb(106, 192, 185) solid;
  h4{
    color: white;
    font-size: 20px;
  }
}
